// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700');

body { margin: 0px } 

a {
    @include transition(all, .2s);
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}
